<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>医生详情</title>

    <link rel="stylesheet" type="text/css" href="../../static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="../../lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/style.css" />

    <!--分页样式表，需要分页的页面加入-->
    <link rel="stylesheet" type="text/css" href="../../lib/laypage/1.2/skin/laypage.css">
    <style>
    	.buttons {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;
		    display: flex;flex-direction: row-reverse; padding-right: 100px;}
		.container tbody tr th{text-align: right;}
    </style>

</head>

<body>
    <div class="container pd-10">
        <div class="row cl">
            <table class="table table-border table-striped">
                <div class="header">
                    <h3 style="text-align:center;">医生详情</h3>
                    <div class="buttons" style="margin-bottom:20px;">
                        <button class="btn btn-primary" id="docterPreview">预览 </button>
                        <button class="btn btn-primary" style="margin-right:20px;" id="docterEdit">编辑</button>
                    </div>
                </div>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="../../lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="../../static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="../../static/h-ui.admin/js/H-ui.admin.js"></script>
    <script type="text/javascript" src="../../js/base/public.js?rev=@@hash"></script>
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    <!--分页JS，需要分页的页面加入-->
    <script type="text/javascript" src="../../lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript" src="../../js/page/mydoctorDetails.js?rev=@@hash"></script>
</body>

</html>