<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="renderer" content="webkit|ie-comp|ie-stand">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	    <meta http-equiv="Cache-Control" content="no-siteapp" />
	    <title>售后退款查询</title>

	    <link rel="stylesheet" type="text/css" href="../../static/h-ui/css/H-ui.min.css" />
	    <link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/H-ui.admin.css" />
	    <link rel="stylesheet" type="text/css" href="../../lib/Hui-iconfont/1.0.8/iconfont.css" />
	    <link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/skin/default/skin.css" id="skin" />
	    <link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/style.css" />
	    <link rel="stylesheet" type="text/css" href="../../lib/laypage/1.2/skin/laypage.css">
	    <link rel="stylesheet" type="text/css" href="../../css/reset.css?rev=@@hash"/>
	    <link rel="stylesheet" type="text/css" href="../../css/withdraw.css?rev=@@hash"/>
	</head>
	<body>
		<nav class="breadcrumb">
	        <i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 售后管理 <span class="c-gray en">&gt;</span> <span class="fileName">退款管理</span>
	        <!--<a class="btn btn-success r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>-->
	        <a id="getOut" class="btn btn-success r" style="line-height:1.6em;margin-top:3px;margin-right: 10px; background: #5a98de;border-color: #5a98de;" href="javascript:;">导出</a>
    	
		</nav>

	    <div class="Hui-article">
	    	
	    	<!--查询条件板块-->
	    	<div class="panel panel-default">
	    		<form class="search-form">
					<div class="panel-body pb-0 cl search">
				        <div class="f-l mr-15 mb-15">
		                    <span class="text-c f-l">订单号</span>
		                    <input type="text" value="" class="input-text withdrawNo" name="tradeId" placeholder="请输入订单号" style="width: 180px;" />
		                </div>
		                <div class="f-l mr-15 mb-15">
		                    <span class="text-c f-l">合同号</span>
		                    <input type="text" value="" class="input-text userName" name="orderId" placeholder="请输入合同号" style="width: 180px;" />
		                </div>
		                
		                <div class="f-l mr-15 mb-15">
		                    <span class="text-c f-l">支付流水号</span>
		                    <input type="text" value="" class="input-text userName" name="requestNo" placeholder="请输入支付流水号" style="width: 180px;" />
		                </div>
		                
		                <!--<div class="f-l mr-15 mb-15">
		                    <span class="text-c f-l">退款原因</span>
		                    <select class="select terminal refundReason" name="refundReason">
		                        <option value="" selected>全部</option>
		                        <option value="1" >11111</option>
		                        <option value="2" >全2222部</option>
		                        <option value="3" >全33333部</option>
		                    </select>
		                </div>-->

		                <div class="f-l mr-15 mb-15">
		                    <span class="text-c f-l">退款状态</span>
		                    <select class="select wdType refundStatus" name="status">
		                        <option value="" selected>全部</option>
		                        <!--<option value="1" >全55555部</option>
		                        <option value="2" >全77777部</option>-->
		                    </select>
		                </div>

						<div class="f-l mr-15 mb-15">
							<span class="text-c f-l">支付渠道来源</span>
							<select class="select white payWay" name="payChannel">
								<option value="" selected>全部</option>
								<!--<option value="1" >全55555部</option>
                                <option value="2" >全77777部</option>-->
							</select>
						</div>
					
				        <div class="f-l mr-15 mb-15">
		                    <span class="text-c f-l" >退款完成时间</span>
		                    <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate f-l" readonly name="finishStarTime" />
		                    <span class="f-l">至</span>
		                    <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax" class="input-text Wdate f-l" readonly name="finishEndTime" />
		                </div>

				        <div class="text-l m-t10 f-r">
				            <button type="button" class="btn btn-primary mr-15" id="screeBtn" name=""><i class="Hui-iconfont">&#xe665;</i> 筛选</button>
				            <button type="button" class="btn btn-primary" id="resetBtn" name=""><i class="Hui-iconfont">&#xe66b;</i> 重置</button>
				        </div>

			        </div>
			    </form>
			</div>
	        <!--<div class="cl pd-5 bg-1 bk-gray mt-20"><span class="r">共有数据：<strong>88</strong> 条</span> </div>-->

	        <!--数据表格-->
	        <div class="mt-20 mb-20 table-con">
	            <table style="min-width: 1900px;" class="table table-bg table-border table-bordered table-hover zhc-table">
	                <thead>
	                    <tr class="text-c">
	                        <!--<th width="25"><input type="checkbox" name="" value=""></th>-->
	                        <th width="10%">订单号</th>
	                         <th width="10%">京东订单号</th>
					    	<th width="12%">合同号</th>
					    	<th width="12%">下单人</th>
					    	<th width="12%">下单手机号</th>
					    	<th width="5%">实际支付金额</th>
					    	<th width="5%">实际退款金额</th>
					    	<th width="5%">差额</th>
					    	<th width="8%">差额备注</th>
					    	<th width="8%">支付渠道来源</th>
					    	<th width="12%">支付流水号</th>
					    	<!--<th width="11%">退款原因</th>-->
					    	<th width="5%">退款状态</th>
					    	<th width="8%">申请时间</th>
					    	<th width="8%">退款完成时间</th>
							<th width="5%">操作人</th>
							<th width="5%">备注</th>
	                    </tr>
	                </thead>
	                <tbody id="tableList">
	                	<!--<tr class="text-c">
					  		<td><a href="withdrawDetail.html">10201705101010584044396410</a></td>
					  		<td>23131232323223</td>
					  		<td>1212</td>
					  		<td>1212</td>
					  		<td>432</td>
					  		<td>深圳市</td>
					  		<td>支付宝</td>
					  		<td>退货退首付</td>
					  		<td>退款申请中</td>
					  		<td>2017-04-22 17:25:30</td>
					  		<td>2017-04-22 17:25:30</td>
					  		<td>待签署</td>
				  		</tr>-->
				  	</tbody>

	            </table>
	        </div>
	        
	        <!--分页-->
			<div class="pagination cl" id="pagination"></div>
	    </div>

		
		
		<!--导出-->
		<div id="mymodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content radius">
		            <div class="modal-header">
		                <h3 class="modal-title">导出</h3>
		                <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void(0);">×</a>
		            </div>
		            <div class="modal-body">
		                <div class="export">
		                    <label>文件名</label><input type="text" onfocus="javascript:$('.p').hide()" id="fileName" />
		                    <p class="p">请输入文件名</p>
		                </div>
		                <p>提示：<br />1、导出的目标数据是根据搜索条件搜索后的数据；若需导出全部数据，请在导出之前清除搜索条件。<br />2、文件名命名可以自定义</p>
		            </div>
		            <div class="modal-footer">
		                <button class="btn btn-primary" onclick="refundList.export();">确定</button>
		                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
		            </div>
		        </div>
		    </div>
		</div>
		
		<!--组件-->
		<script type="text/javascript" src="../../lib/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="../../lib/My97DatePicker/4.8/WdatePicker.js"></script>
	    <script type="text/javascript" src="../../lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
	    <script type="text/javascript" src="../../lib/laypage/1.2/laypage.js"></script>
	    <script src="../../js/common/jquery.tmpl.min.js" type="text/javascript"></script>
	    <script type="text/javascript" src="../../lib/layer/2.4/layer.js"></script>
	    <script type="text/javascript" src="../../static/h-ui/js/H-ui.min.js"></script>
	    <script type="text/javascript" src="../../static/h-ui.admin/js/H-ui.admin.js"></script>

	    <!--业务逻辑-->
	    <script type="text/javascript" src="../../js/base/public.js?rev=@@hash"></script>
	    <script src="../../js/page/refundList.js?rev=@@hash" type="text/javascript" charset="utf-8"></script>
	    <script id="refundList" type="text/x-jquery-tmpl">
	    		<tr class="text-c">
			  		<td><a class="tradeId" href="javascript:;">{{= tradeId || ''}}</a></td>
			  		<td>{{= channelOrderId || ''}}</td>
			  		<td>{{= orderId || ''}}</td>
			  		<td>{{= userName || ''}}</td>
			  		<td>{{= userMobile || ''}}</td>
			  		<td>{{= payAmount || ''}}</td>
			  		<td>{{= amount || ''}}</td>
			  		<td>{{= differenceFee || ''}}</td>
			  		<td>{{= refundReason || ''}}</td>
			  		{{if bankName}}
		            <td>{{= payChannelStr || ''}}-{{= bankName || ''}}</td>
		            {{else}}
		             <td>{{= payChannelStr || ''}}</td>
		            {{/if}}
			  		<td>{{= requestNo || ''}}</td>
			  		<td>{{= statusStr || ''}}</td>
			  		<td>{{= createTime || ''}}</td>
			  		<td>{{= finishTime || ''}}</td>
			  		<td>{{= opName || ''}}</td>
			  		<td>{{= refundTypeStr || ''}}</td>
		  		</tr>
	    </script>
	</body>
</html>
