<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>商品品牌</title>

    <link rel="stylesheet" type="text/css" href="../../static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="../../lib/laypage/1.2/skin/laypage.css">
    <link rel="stylesheet" type="text/css" href="../../lib/laypage/1.2/skin/laypage.css">
    <link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/goods.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/imgUp.css"/>
</head>

<body>

<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>
    首页 <span class="c-gray en">&gt;</span>
    商品管理 <span class="c-gray en">&gt;</span>
    商品品牌
    <a class="btn btn-success r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>

<div class="page-container">
    <div class="panel panel-default">
        <form class="search-form">
            <div class="panel-body pb-0 cl search">
                <button type="button" class="btn btn-primary mr-10 mb-15 f-l" onclick="brand.openAdd()"> 添加</button>
                <div class="f-l mr-15 mb-15">
                    <span class="text-c f-l">搜索</span>
                    <input type="text" placeholder="输入需要查询的商品品牌" style="width: 180px;" value="" class="input-text" name="name" />
                </div>
                <div class="text-l m-t10 f-r">
                    <button type="button" class="btn btn-primary mr-10 mb-15" id="screeBtn" onclick="brand.search()"><i class="Hui-iconfont">&#xe665;</i> 查询</button>
                </div>
            </div>
        </form>
    </div>

    <div class="mt-20 table-con">
        <table style="min-width: auto;" class="table table-border table-hover table-bg table-sort">
            <thead>
                <tr class="text-c">
                    <th class="text-l" style="padding-left: 70px;" width="60%">品牌名称</th>
                    <th width="40%">操作</th>
                </tr>
            </thead>
            <tbody id="list"></tbody>
        </table>
    </div>

    <!--分页-->
    <div class="pagination mt-20" id="pagination"></div>
</div>

<!--添加、编辑-->
<div id="modal-add" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content radius">
            <div class="modal-header">
                <h3 class="modal-title">添加/编辑</h3>
                <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
            </div>
            <div class="modal-body search" style="overflow: auto;">
                <div class="ml-15 mb-15">
                    <span class="text-c f-l">品牌名称</span>
                    <input type="text" placeholder="请填写商品品牌名称；例如：耐克；" style="width: 280px;" class="input-text" id="brandName" />
                </div>
                <div class="ml-15 mb-15">
                    <span class="text-c f-l">品牌标识</span>
                    <input type="text" placeholder="请上传品牌LOGO，用于前台展示" style="width: 220px;" class="input-text f-l" id="brandUrl" readonly />
                    <div class="file f-l">
                        <a href="javascript:">预览</a>
                        <input type="file" name="file" id="file" class="file" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple />
                    </div>
                    <p class="f-l ml-10" style="margin-top: 3px;">建议图片尺寸：92*92</p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="brand.edit()">确定</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>

<!--删除-->
<div id="modal-del" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content radius">
            <div class="modal-header">
                <h3 class="modal-title">系统提示</h3>
                <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
            </div>
            <div class="modal-body">
                <p>您确定要删除该商品品牌吗？</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="brand.del()">确定</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="../../lib/jquery/1.9.1/jquery.min.js?rev=@@hash"></script>
<script type="text/javascript" src="../../lib/layer/2.4/layer.js?rev=@@hash"></script>
<script type="text/javascript" src="../../static/h-ui/js/H-ui.min.js?rev=@@hash"></script>
<script type="text/javascript" src="../../static/h-ui.admin/js/H-ui.admin.js?rev=@@hash"></script>
<script type="text/javascript" src="../../js/base/public.js?rev=@@hash"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="../../lib/My97DatePicker/4.8/WdatePicker.js?rev=@@hash"></script>
<script type="text/javascript" src="../../lib/laypage/1.2/laypage.js?rev=@@hash"></script>
<script src="../../js/common/jquery.tmpl.min.js?rev=@@hash"></script>
<script type="text/javascript" src="../../js/common/imgPlugin.js?rev=@@hash"></script>
<script type="text/javascript" src="../../js/page/brand.js?rev=@@hash"></script>
<script type="text/html" id="brandList">
    {{each(i,item) data}}
    <tr>
        <td><img src="${imgPath}${item.url}" data="${item.url}" />${item.name}</td>
        <td class="text-c"><a href="javascript:" class="tab-A" id="${item.id}" onclick="brand.openAdd(this)">编辑</a><a href="javascript:" class="tab-A" onclick="brand.openDel(${item.id})">删除</a></td>
    </tr>
    {{/each}}
</script>
</body>

</html>