<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>页面管理</title>

    <link rel="stylesheet" type="text/css" href="../../static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="../../lib/laypage/1.2/skin/laypage.css">
    <link rel="stylesheet" type="text/css" href="../../js/common/swiper/css/swiper.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/imgUp.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/pagePhone.css"/>
</head>

<body>

<div id="phone-main" class="phone-main">
	
	<div class="ph-left">
		<div class="ph-head"></div>
		<!--顶部banner图-->
		<div plateCode="ME01" id="ph-head-banner" class="ph-head-banner">
			<div class="swiper-container swiper-container2 height_112">
			    <div class="swiper-wrapper height_112 ph-top-banner-box">
			    	<p class="click-edit">点击进行编辑111</p>
			    	<!--<div class="swiper-slide ph-banner-edit"> <a class="top-banner-a" href="javascript:;"><img src="../../images/goods.png"/><p>点击我进行编辑</p></a></div>
			    	<div class="swiper-slide ph-banner-edit"> <a class="top-banner-a" href="javascript:;"><img src="../../images/goods.png"/><p>点击我进行编辑</p></a></div>-->
			    </div>
			    <div class="swiper-button-prev"></div>
		    	<div class="swiper-button-next"></div>
		    	<div class="swiper-pagination"></div>
			</div>
		</div>
	
		<!--活动商品板块-->
		<div plateCode="ME02" id="ph-goods-panel" class="ph-goods-panel">
			<p id="goods-panel-title" class="ph-panel-title">限时优惠</p>
			<ul class="ph-goods-list">
				<li>
					<img src="../../images/goods.png"/>
					<p>点击我进行编辑</p>
				</li>
				<li>
					<img src=""/>
					<p>点击我进行编辑</p>
				</li>
				<li>
					<img src=""/>
					<p>点击我进行编辑</p>
				</li>
				<li>
					<img src=""/>
					<p>点击我进行编辑</p>
				</li>
			</ul>
			<p class="check-more">查看更多</p>
		</div>
	
		<!--底部banner图-->
		<div plateCode="ME03" id="ph-foot-banner" class="ph-foot-banner">
			<p id="foot-banner-title" class="ph-panel-title">新品首发</p>
			<div class="swiper-container swiper-container2">
			    <div class="swiper-wrapper ph-foot-banner-box">
			    	<p class="click-edit">点击进行编辑111</p>
			    	<!--<div class="swiper-slide ph-banner-edit"> <a class="show-pop" href="javascript:;"><img src="../../images/goods.png"/><p>000000000000</p></a></div>
				    <div class="swiper-slide ph-banner-edit"> <a class="show-pop" href="javascript:;"><img src="../../images/goods.png"/><p>11111111111</p></a></div>
				    <div class="swiper-slide ph-banner-edit"> <a class="show-pop" href="javascript:;"><img src="../../images/goods.png"/><p>22222222222</p></a></div>
				    <div class="swiper-slide ph-banner-edit"> <a class="show-pop" href="javascript:;"><img src="../../images/goods.png"/><p>33333333333</p></a></div>
				    <div class="swiper-slide ph-banner-edit"> <a class="show-pop" href="javascript:;"><img src="../../images/goods.png"/><p>44444444444</p></a></div>-->
			    </div>
			    <div class="swiper-button-prev"></div>
		    	<div class="swiper-button-next"></div>
		    	<div class="swiper-pagination swiper-pagination-2"></div>
			</div>
		</div>

		<!--底部推荐商品板块-->
		<div  plateCode="ME04" id="ph-recomd-panel" class="ph-recomd-panel">
			<p id="recomd-panel-title" class="ph-panel-title">热门推荐</p>
			<div class="">
				<ul class="ph-recomd-list">
					<li><p>点击我进行编辑</p></li>
				</ul>
			</div>
		</div>
		<div class="ph-foot"></div>
	</div>
	<div class="ph-right">
		<p class="ph-edit-title"><b>编辑主题</b><span class="ph-close">X</span></p>
		<p><label for="ph-madel-name">模块名称</label><input class="ph-right-inp" type="text" name="" id="ph-madel-name" value="" /></p>
		<div class="ph-img-box">
			<ul class="ph-img-list">
				<li imgUrl="11">图片<span>1</span></li>
				<!--<li>图片<span>2</span></li>
				<li>图片<span>3</span></li>
				<li>图片<span>4</span></li>
				<li>图片<span>5</span></li>-->
			</ul>
			<a class="ph-add-img" href="javascript:;"><b>+</b></a>
		</div>
		<p><label for="ph-madel-link">主题链接</label><input class="ph-right-inp" type="text" name="" id="ph-madel-link" value="" /></p>
		<div class="add-img-box"><span>主题图片</span>
			<div class="z_file">
				<a class="ph-replace-img" href="javascript:;">替换图片</a><input type="hidden" id="ph-madel-img" />
				<input type="file" name="file" id="file" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple />
			</div>
			<span>图片推荐宽<span class="ph-red">250px</span>，高</span><span class="ph-red open-pop">自定义</span>
		</div>
		
		<div class="ph-goods">
			<p class="mt-10"><input type="hidden" id="ph-skuId" /><span>主题商品</span><a style="margin: 0 20px 0 24px;" class="ph-replace-img" href="javascript:;" onclick="pagePhone.openAddPop();">添加商品</a><span>上传商品时，一个主题对应一个商品</span></p>
			<div class="ph-ass mt-10">
				<div class="ph-acon">
					<img />
					<p></p>
				</div>
			</div>
		</div>
		
		<ul class="ph-right-btn">
			<li class="ph-save">保存</li>
			<li class="ph-delect">删除</li>
		</ul>
	</div>
	
	<!--发布-->
	<button class="ph-issue">发布</button>
</div>	
	<!--添加商品弹窗-->
	<div class="pop_goods" id="pop_goods">
		<div class="pop_goods_head">
			<p>添加商品<a class="close_btn" href="javasctipt:;">X</a></p>
		</div>
		
		<div class="panel panel-default">
			<form class="search-form">
				<div class="panel-body pb-0 cl search">
					
					<div class="f-l mr-15 mb-15">
	                    <span class="text-c f-l">商品名称</span>
	                    <input type="text" value="" class="input-text withdrawNo" name="skuName" style="width: 180px;" placeholder="输入商品名称"/>
	                </div>
	                
	                <div class="f-l mr-15 mb-15">
	                    <span class="text-c f-l">商品价格</span>
	                    <input type="text" value="" class="input-text withdrawNo" name="marketPrice" style="width: 180px;" placeholder="输入商品价格"/>
	                </div>
	                
	                <div class="f-l mr-15 mb-15">
	                    <span class="text-c f-l">商品货号</span>
	                    <input type="text" value="" class="input-text withdrawNo" name="sn" style="width: 180px;" placeholder="输入商品货号"/>
	                </div>
	                
	                <div class="f-l mr-15 mb-15">
	                    <span class="text-c f-l">状态</span>
	                    <select class="select" id="status" name="status">
			                <option value="" selected>全部</option>
			                <option value="1" >上架</option>
			                <option value="0" >下架</option>
			            </select>
	                </div>
	                
	                <div class="text-l m-t10 f-r">
			            <button type="button" class="btn btn-primary mr-15" id="screeBtn" name=""><i class="Hui-iconfont">&#xe665;</i> 筛选</button>
			            <button type="button" class="btn btn-primary" id="resetBtn" name=""><i class="Hui-iconfont">&#xe66b;</i> 重置</button>
			        </div>
	                
	   			</div>
		    </form>
		</div>
		
		<div class="main">
			
			<div class="left_side f-l">
				<div id="menuTree" class="menuTree"></div>
			</div>
			<div class="right_body f-l">
				
				<div class="list_head">
					<span style="width: 37%;" class="list_head_name">商品名称</span>
					|
					<span style="width: 10%;" class="list_head_price">价格</span>
					|
					<span style="width: 13%;" class="list_head_sn">货号</span>
					|
					<span style="width: 10%;" class="list_head_statuss">状态</span>
					|
					<span style="width: 12%;" class="list_head_kind">销量</span>
					|
					<span style="width: 10%;" class="list_head_status">库存</span>
					
				</div>
				<ul id="link_goods" class="link_goods">
					<li skuId="2222">
						<input type="radio" name="goods" id="aaa" value="" />
						<img src="../../images/goods.png"/>
						<span class="link_name">超好看的裤子只要999不要9999快来买啊</span>
						<span class="link_price">￥2448</span>
						<span class="link_kind">销量：10</span>
						<span class="link_status">库存：100</span>
						
					</li>
					<li skuId="2222">
						<input type="radio" name="goods" id="aaa" value="" />
						<img src="../../images/goods.png"/>
						<span class="link_name">超好看的裤子只要999不要9999快来买啊</span>
						<span class="link_price">￥2448</span>
						<span class="link_kind">销量：10</span>
						<span class="link_status">库存：100</span>
					</li>
					<li skuId="2222">
						<input type="radio" name="goods" id="aaa" value="" />
						<img src="../../images/goods.png"/>
						<span class="link_name">超好看的裤子只要999不要9999快来买啊</span>
						<span class="link_price">￥2448</span>
						<span class="link_kind">销量：10</span>
						<span class="link_status">库存：100</span>
					</li>
				</ul>
			
			<!--分页-->
		    	<div class="pagination mt-20" id="pop_pagination"></div>
		    
			    <ul class="btnLi">
			    	<li class="pop_cancel">取消</li>
			    	<li class="pop_goods_submit">确认</li>
			    </ul>
			</div>
		</div>
	</div>


<!--_footer 作为公共模版分离出去-->
	<script type="text/javascript" src="../../lib/jquery/1.9.1/jquery.min.js?rev=@@hash"></script>
	<script type="text/javascript" src="../../lib/layer/2.4/layer.js?rev=@@hash"></script>
	<script type="text/javascript" src="../../static/h-ui/js/H-ui.min.js"></script>
	<script type="text/javascript" src="../../static/h-ui.admin/js/H-ui.admin.js?rev=@@hash"></script>
	<script type="text/javascript" src="../../js/base/public.js?rev=@@hash"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script src="../../js/common/swiper/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="../../lib/laypage/1.2/laypage.js?rev=@@hash"></script>
<script src="../../js/common/imgPlugin.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/common/jquery.tmpl.min.js?rev=@@hash"></script>
<script type="text/javascript" src="../../js/page/pagePhone.js?rev=@@hash"></script>
</body>
<script id="popGoodsList" type="text/x-jquery-tmpl">
	<li skuId="{{= skuId}}">
		<input type="radio" name="goods" id="aaa" value="" />
		<img src="${imgPath}{{= thumb}}"/>
		<span class="link_name">{{= skuName}}</span>
		<span class="link_price">￥{{= shopPrice}}</span>
		<span class="link_sn">{{= sn}}</span>
		{{if status == 0}}
		<span class="link_statuss">下架</span>
		{{else}}
		<span class="link_statuss">上架</span>
		{{/if}}
		<span class="link_kind">销量：{{= sales}}</span>
		<span class="link_status">库存：{{= number}}</span>
	</li>
</script>
</html>
