<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta name="renderer" content="webkit|ie-comp|ie-stand">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta name="viewport"
	          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	    <meta http-equiv="Cache-Control" content="no-siteapp"/>
	    <title>页面管理(手机)</title>
	
	    <link rel="stylesheet" type="text/css" href="../../static/h-ui/css/H-ui.min.css"/>
	    <link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/H-ui.admin.css"/>
	    <link rel="stylesheet" type="text/css" href="../../lib/Hui-iconfont/1.0.8/iconfont.css"/>
	    <link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/skin/default/skin.css" id="skin"/>
	    <link rel="stylesheet" type="text/css" href="../../lib/laypage/1.2/skin/laypage.css">
	    <link rel="stylesheet" type="text/css" href="../../js/common/swiper/css/swiper.min.css"/>
	    <link rel="stylesheet" type="text/css" href="../../css/imgUp.css"/>
	    <link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
	    <link rel="stylesheet" type="text/css" href="../../css/pagePhone.css"/>
	</head>
	<body>
		<nav class="breadcrumb">
		    <i class="Hui-iconfont">&#xe67f;</i>
		    首页 <span class="c-gray en">&gt;</span>
		    商品管理 <span class="c-gray en">&gt;</span>
		    页面管理(手机)
		    <!--<a class="btn btn-success r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>-->
		    <!--<input class="btn btn-primary f-r mr-10"  onclick="wallet.openExport()" style="margin-top: 3px;" type="button" value="导出">-->
		</nav>
		<div class="ph-kinds-panel">
			<div class="swiper-container swiper-container1">
			    <div id="left-menu-panel" class="swiper-wrapper">
			    	<div class="swiper-slide red-slide"><a class="change-panel pannel-discover" href="javascript:;"><img class="discoverImg" src="../../images/discover2.jpg"/><img class="activityImg" src="../../images/activityIcon.png"/><p>发现</p></a></div>
				    <!--<div class="swiper-slide blue-slide"> <a class="change-panel" href="javascript:;"><img src="../../images/goods.png"/><p>slider1</p></a></div>
				    <div class="swiper-slide yellow-slide"> <a class="change-panel" href="javascript:;"><img src="../../images/goods.png"/><p>slider1</p></a></div>
				    <div class="swiper-slide gray-slide"> <a class="change-panel" href="javascript:;"><img src="../../images/goods.png"/><p>slider1</p></a></div>
				    <div class="swiper-slide green-slide"> <a class="change-panel" href="javascript:;"><img src="../../images/goods.png"/><p>slider1</p></a></div>-->
			    </div>
			    <div class="swiper-button-prev"></div>
		    	<div class="swiper-button-next"></div>
		    	<div class="swiper-pagination"></div>
			</div>
		</div>
		<div class="page-con"></div>
		
		<!--_footer 作为公共模版分离出去-->
			<script type="text/javascript" src="../../lib/jquery/1.9.1/jquery.min.js?rev=@@hash"></script>
			<script type="text/javascript" src="../../lib/layer/2.4/layer.js?rev=@@hash"></script>
			<script type="text/javascript" src="../../static/h-ui/js/H-ui.min.js"></script>
			<script type="text/javascript" src="../../static/h-ui.admin/js/H-ui.admin.js?rev=@@hash"></script>
			<script type="text/javascript" src="../../js/base/public.js?rev=@@hash"></script>
		<!--/_footer 作为公共模版分离出去-->

		<!--请在下方写此页面业务相关的脚本-->
		<script src="../../js/common/swiper/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../../lib/laypage/1.2/laypage.js?rev=@@hash"></script>
		<script src="../../js/common/imgPlugin.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/jquery.tmpl.min.js?rev=@@hash"></script>
		<script type="text/javascript" src="../../js/page/pageMenange.js?rev=@@hash"></script>
	</body>
</html>
