<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>采购发货</title>

    <link rel="stylesheet" type="text/css" href="../../static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="../../lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="../../lib/laypage/1.2/skin/laypage.css">
    <link rel="stylesheet" type="text/css" href="../../lib/laypage/1.2/skin/laypage.css">
    <link rel="stylesheet" type="text/css" href="../../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../css/goods.css" />
    <style type="text/css">
        .table th,
        .table td {
            border: 1px solid #DEDEDE;
        }
    </style>
</head>

<body>

    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 商品管理 <span class="c-gray en">&gt;</span> 采购发货
        <a class="btn btn-success r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>

    <div class="page-container">
        <div class="btn-group mb-20">
            <span val="0" class="btn btn-primary">待采购（批量采购）</span>
            <a href="procurementSingle.html"><span val="10" class="btn btn-default">待采购（单个采购）</span></a>
            <a href="Sendout.html"><span val="20" class="btn btn-default">待发货</span></a>
        </div>

        <div class="panel panel-default">
            <form class="search-form">
                <div class="panel-body pb-0 cl search">
                    <div class="f-l mr-15 mb-15">
                        <span class="text-c f-l">搜索</span>
                        <input type="text" placeholder="输入商品名称/货号" style="width: 180px;" class="input-text" name="name" />
                    </div>
                    <div class="text-l m-t10 f-r">
                        <button type="button" class="btn btn-primary mr-10 mb-15" id="screeBtn" onclick="BatchpurchaseList()"><i class="Hui-iconfont">&#xe665;</i> 筛选</button>
                        <button type="button" class="btn btn-primary mb-15" id="resetBtn" onclick="util.reset()"><i class="Hui-iconfont">&#xe66b;</i> 重置</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="mt-20 table-con" id="content">
            <table class="table table-border table-hover table-bg table-sort" style="min-width: 0;">
                <thead>
                    <tr class="text-c">
                        <th>商品信息</th>
                        <th>商品货号</th>
                        <th>商品单价</th>
                        <th>未采购订单数量</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="list"></tbody>
            </table>
        </div>
        <!--分页-->
        <div class="pagination mt-20" id="pagination"></div>



        <!--_footer 作为公共模版分离出去-->
        <script type="text/javascript" src="../../lib/jquery/1.9.1/jquery.min.js?rev=@@hash"></script>
        <script type="text/javascript" src="../../lib/layer/2.4/layer.js?rev=@@hash"></script>
        <script type="text/javascript" src="../../static/h-ui/js/H-ui.min.js?rev=@@hash"></script>
        <script type="text/javascript" src="../../static/h-ui.admin/js/H-ui.admin.js?rev=@@hash"></script>
        <script type="text/javascript" src="../../js/base/public.js?rev=@@hash"></script>

        <!--/_footer 作为公共模版分离出去-->

        <!--请在下方写此页面业务相关的脚本-->
        <script type="text/javascript" src="../../lib/My97DatePicker/4.8/WdatePicker.js?rev=@@hash"></script>
        <script type="text/javascript" src="../../lib/laypage/1.2/laypage.js?rev=@@hash"></script>
        <script src="../../js/common/jquery.tmpl.min.js?rev=@@hash"></script>
        <script type="text/javascript" src="../../js/common/imgPlugin.js?rev=@@hash"></script>
        <script type="text/javascript">
            $('#content').scrollTop($('#content')[0].scrollHeight);
            //物品信息
            var shopmes;
            //搜索
            var bind_name = 'input';
            var searchword = $(".input-text").val()
            if (navigator.userAgent.indexOf("MSIE") != -1) {
                bind_name = 'propertychange';
            }
            $(".input-text").bind(bind_name, function() {
                searchword = $(".input-text").val()
                BatchpurchaseList()
            })
            BatchpurchaseList()

            function BatchpurchaseList(obj) {
                var arrObj = $("#user-form").find("input,select").serializeObject();
                pageNum = (obj && obj.curr) || 1; // 默认第1页
                pageRows = (obj && obj.pageSize) || 20; // 默认一页20条数据
                arrObj['pageNum'] = pageNum;
                arrObj['pageRows'] = pageRows;
                $.post(base + 'purchase/batch.do', {
                    pageNum: pageNum,
                    pageSize: pageRows,
                    skuKeyword: searchword
                }, function(res) {

                    if (res.status == '0' && res.data) {
                        shopmes = res.data;
                        $('#list').children().remove();
                        if (res.data.length == 0) {
                            $('#list').append("<tr><td colspan='10' style='text-align:center; color:#ddd;'>暂无相关数据！</td></tr>")
                        } else {
                            for (var i = 0; i < res.data.length; i++) {
                                var Tr = $("<tr class='text-c'></tr>");
                                var Td1 = $("<td style='text-align: left;'>" + res.data[i].skuName + "</td>")
                                var Td2 = $("<td>" + res.data[i].sn + "</td>")
                                var Td3 = $("<td>" + res.data[i].unitPrice + "</td>")
                                var Td4 = $("<td>" + res.data[i].noBuyCount + "</td>")
                                var Td5 = $("<td width='180'><a href='procurementBatch.html' onclick='purchase(" + i + ")' class='tab-A'>批量采购</a><a href='procurementSingle.html?skuid=" + res.data[i].skuId + "&&unitPrice=" + res.data[i].unitPrice + "' class='tab-A'>查看订单</a></td>")
                                Tr.append(Td1)
                                Tr.append(Td2)
                                Tr.append(Td3)
                                Tr.append(Td4)
                                Tr.append(Td5)
                                $('#list').append(Tr)
                            };
                        }


                    } else if (res.status == '9999') {
                        // 未登录
                        window.top.location.href = '../../login.html';
                    } else {
                        $('#list').children().remove();
                        $('#list').append("<tr><td colspan='5' style='text-align:center; color:#ddd;'>暂无相关数据！</td></tr>")
                    }
                    setPagination({
                        elem: $('#pagination'),
                        totalCount: res.dataCount,
                        curr: arrObj['pageNum'],
                        pageSize: arrObj['pageRows'],
                        callback: function(obj) {
                            BatchpurchaseList(obj);
                        }
                    });
                })
            };
            //将当前产品信息存入本地
            function purchase(i) {
                sessionStorage.setItem('BatchPurchaseData', JSON.stringify(shopmes[i]))
            }
        </script>
</body>

</html>