<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="renderer" content="webkit|ie-comp|ie-stand">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	    <meta http-equiv="Cache-Control" content="no-siteapp" />
	    <title>收支明细表</title>

	    <link rel="stylesheet" type="text/css" href="../../static/h-ui/css/H-ui.min.css" />
	    <link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/H-ui.admin.css" />
	    <link rel="stylesheet" type="text/css" href="../../lib/Hui-iconfont/1.0.8/iconfont.css" />
	    <link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/skin/default/skin.css" id="skin" />
	    <link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/style.css" />
	    <link rel="stylesheet" type="text/css" href="../../lib/laypage/1.2/skin/laypage.css">
	    <link rel="stylesheet" type="text/css" href="../../css/reset.css?rev=@@hash"/>
	    <style type="text/css">
	    	.table{margin-bottom: 30px;}
			.zhc-table {
			    table-layout: fixed;
			    margin-top: 20px;
			}
			.tips{
				border-radius: 50%;
				background: deepskyblue;
				width: 20px;
				height: 20px;
				display: inline-block;
				margin-left: 5px;
				cursor: default;
				color: white;
			}
			.pst-rel{position: relative;}
			.tips-opt{position: absolute;background: deepskyblue;left: 10px;top: -60px;border-radius: 10px;color: white;}
			.arrow{
				border-left:10px solid transparent;  
		        border-top:20px solid deepskyblue;  
		        border-right:10px solid transparent;  
				width: 0;
				height: 0px;
				display: inline-block;
				position: absolute;
				top: -20px;
				left: 107px;
			}
			.tips-wrap{display: none;}
			.red{color: red;}
	    </style>
	</head>
	<body>
		<nav class="breadcrumb">
	        <i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 财务管理 <span class="c-gray en">&gt;</span> <span class="fileName"> 收支明细表</span>
	        <!--<a class="btn btn-success r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>-->
	        <a id="getOut" class="btn btn-success r" style="line-height:1.6em;margin-top:3px;margin-right: 10px; background: #5a98de;border-color: #5a98de;" href="javascript:;">导出</a>
    	
		</nav>

	    <div class="Hui-article">
	    	
	    	<!--查询条件板块-->
	    	<div class="panel panel-default">
	    		<form class="search-form">
					<div class="panel-body pb-0 cl search">
				        <div class="f-l mr-15 mb-15">
		                    <span class="text-c f-l">订单号</span>
		                    <input type="text" value="" class="input-text withdrawNo" name="tradeId" placeholder="请输入订单号" style="width: 180px;" />
		                </div>
		                <div class="f-l mr-15 mb-15">
		                    <span class="text-c f-l">合同号</span>
		                    <input type="text" value="" class="input-text userName" name="orderId" placeholder="请输入合同号" style="width: 180px;" />
		                </div>
		                
		                 <div class="f-l mr-15 mb-15">
		                    <span class="text-c f-l">商品信息</span>
		                    <input type="text" value="" class="input-text userName" name="goodsName" placeholder="请输入商品信息" style="width: 180px;" />
		                </div>
		                
		                <div class="f-l mr-15 mb-15">
		                    <span class="text-c f-l">订单类型</span>
		                    <select class="select terminal refundReason" name="tradeType">
		                        <option value="" selected>全部</option>
		                        <option value="1" >实物订单</option>
		                        <option value="2" >虚拟订单</option>
		                    </select>
		                </div>
						
						
						
		                <div class="f-l mr-15 mb-15">
		                    <span class="text-c f-l">优惠前差价</span>
		                    <select class="select wdType refundStatus" name="diffBeforeCouponType">
		                        <option value="" selected>全部</option>
		                        <option value="1" >大于0</option>
		                        <option value="2" >小于0</option>
		                        <option value="3" >等于0</option>
		                    </select>
		                </div>
		                
		                <div class="f-l mr-15 mb-15">
		                    <span class="text-c f-l">优惠后差价</span>
		                    <select class="select wdType refundStatus" name="diffAfterCouponType">
		                        <option value="" selected>全部</option>
		                        <option value="1" >大于0</option>
		                        <option value="2" >小于0</option>
		                        <option value="3" >等于0</option>
		                    </select>
		                </div>

						<div class="f-l mr-15 mb-15">
							<span class="text-c f-l">数据来源</span>
							<select class="select white payWay" name="dataSource">
								<option value="" selected>全部</option>
								<option value="1" >正常订单</option>
                                <option value="2" >客服取消订单</option>
                                <option value="3" >拒收订单</option>
                                <option value="4" >退货订单</option>
							</select>
						</div>
					
				        <div class="f-l mr-15 mb-15">
		                    <span class="text-c f-l" >用户下单时间</span>
		                    <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate f-l" readonly name="tradeTimeBegin" />
		                    <span class="f-l">至</span>
		                    <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax" class="input-text Wdate f-l" readonly name="tradeTimeEnd" />
		                </div>
		                
		                <div class="f-l mr-15 mb-15">
		                    <span class="text-c f-l" >用户付款时间</span>
		                    <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'timemax\')||\'%y-%M-%d\'}' })" id="timemin" class="input-text Wdate f-l" readonly name="payTimeBegin" />
		                    <span class="f-l">至</span>
		                    <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'timemin\')}',maxDate:'%y-%M-%d' })" id="timemax" class="input-text Wdate f-l" readonly name="payTimeEnd" />
		                </div>

				        <div class="text-l m-t10 f-r">
				            <button type="button" class="btn btn-primary mr-15" id="screeBtn" name=""><i class="Hui-iconfont">&#xe665;</i> 筛选</button>
				            <button type="button" class="btn btn-primary" id="resetBtn" name=""><i class="Hui-iconfont">&#xe66b;</i> 重置</button>
				        </div>

			        </div>
			    </form>
			</div>

	        <!--数据表格-->
	        <div class="mt-20 mb-20 table-con">
	            <table style="min-width: 2500px;" class="table table-bg table-border table-bordered table-hover zhc-table">
	                <thead>
	                    <tr class="text-c">
	                        <!--<th width="25"><input type="checkbox" name="" value=""></th>-->
	                        <th width="10%">订单号</th>
	                         <th width="10%">渠道订单号</th>
					    	<th width="10%">售后服务单号</th>
					    	<th width="10%">合同号</th>
					    	<th width="5%">订单类型</th>
					    	<th width="10%">商品信息</th>
					    	<th width="5%">客户姓名</th>
					    	<th width="5%">订单金额</th>
					    	<th width="8%">优惠券</th>
					    	<th width="5%">用户运费</th>
					    	<th class="pst-rel" width="8%">订单实付金额<span class="tips">？</span><span class="tips-wrap tips-amount"><span class="tips-opt">订单金额-优惠金额+用户运费</span><span class="arrow"></span></span></th>
					    	<th width="8%">采购总成本价</th>
					    	<th width="5%">采购总运费</th>
					    	<th class="pst-rel" width="10%">优惠前差价<span class="tips">？</span><span class="tips-wrap tips-before"><span class="tips-opt">订单金额+用户运费-(采购总成本价+采购总运费)</span><span class="arrow"></span></th>
					    	<th class="pst-rel" width="10%">优惠后差价<span class="tips">？</span><span class="tips-wrap tips-after"><span class="tips-opt">订单实付金额-(采购总成本价+采购总运费)</span><span class="arrow"></span></th>
							<th width="6%">用户下单时间</th>
							<th width="6%">付款成功时间</th>
							<th width="5%">数据来源</th>
	                    </tr>
	                </thead>
	                <tbody id="tableList"></tbody>
	            </table>
	        </div>
	        
	        <!--分页-->
			<div class="pagination cl" id="pagination"></div>
	    </div>
		
		<!--导出-->
		<div id="mymodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content radius">
		            <div class="modal-header">
		                <h3 class="modal-title">导出</h3>
		                <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void(0);">×</a>
		            </div>
		            <div class="modal-body">
		                <div class="export">
		                    <label>文件名</label><input type="text" onfocus="javascript:$('.p').hide()" id="fileName" />
		                    <p class="p">请输入文件名</p>
		                </div>
		                <p>提示：<br />1、导出的目标数据是根据搜索条件搜索后的数据；若需导出全部数据，请在导出之前清除搜索条件。<br />2、文件名命名可以自定义</p>
		            </div>
		            <div class="modal-footer">
		                <button class="btn btn-primary" onclick="finance.export();">确定</button>
		                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
		            </div>
		        </div>
		    </div>
		</div>
		
		<!--组件-->
		<script type="text/javascript" src="../../lib/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="../../lib/My97DatePicker/4.8/WdatePicker.js"></script>
	    <script type="text/javascript" src="../../lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
	    <script type="text/javascript" src="../../lib/laypage/1.2/laypage.js"></script>
	    <script src="../../js/common/jquery.tmpl.min.js" type="text/javascript"></script>
	    <script type="text/javascript" src="../../lib/layer/2.4/layer.js"></script>
	    <script type="text/javascript" src="../../static/h-ui/js/H-ui.min.js"></script>
	    <script type="text/javascript" src="../../static/h-ui.admin/js/H-ui.admin.js"></script>

	    <!--业务逻辑-->
	    <script type="text/javascript" src="../../js/base/public.js?rev=@@hash"></script>
	     <script src="../../js/page/finance.js?rev=@@hash" type="text/javascript" charset="utf-8"></script>
	    <script id="financeList" type="text/x-jquery-tmpl">
	    		
	    		{{if dataSource == 1}}
	    		<tr class="text-c">
			  		<td><a class="tradeId order-detail" href="javascript:;">{{= tradeId || ''}}</a></td>
			  		<td>{{= channelTradeId || ''}}</td>
			  		<td><a class="service-detail" href="javascript:;">{{= assServiceId || ''}}</a></td>
			  		<td>{{= orderId || ''}}</td>
			  		{{if tradeType == 1}}
			  		<td>实物订单</td>
			  		{{else}}
			  		<td>虚拟订单</td>
			  		{{/if}}
			  		<td>{{= goodsName || ''}}</td>
			  		<td>{{= userName || ''}}</td>
			  		<td>{{= tradeAmount || ''}}</td>
			  		<td>{{= couponAmount || ''}}</td>
			  		<td>{{= userPostage || ''}}</td>
			  		<td>{{= amount || ''}}</td>
			  		<td>{{= tradeCost || ''}}</td>
			  		<td>{{= postage || ''}}</td>
			  		<td>{{= diffBeforeCoupon || ''}}</td>
			  		<td>{{= diffAfterCoupon || ''}}</td>
			  		<td>{{= tradeTime || ''}}</td>
			  		<td>{{= payTime || ''}}</td>
			  		{{if dataSource == 1}}
			  		<td>正常订单</td>
			  		{{else dataSource == 2}}
			  		<td>客服关闭订单</td>
			  		{{else dataSource == 3}}
			  		<td>拒收订单</td>
			  		{{else}}
			  		<td>退货订单</td>
			  		{{/if}}
		  		</tr>
		  		{{else}}
		  		<tr class="text-c">
			  		<td class="red"><a class="tradeId order-detail" href="javascript:;">{{= tradeId || ''}}</a></td>
			  		<td class="red">{{= channelTradeId || ''}}</td>
			  		<td class="red"><a class="service-detail" href="javascript:;">{{= assServiceId || ''}}</a></td>
			  		<td class="red">{{= orderId || ''}}</td>
			  		{{if tradeType == 1}}
			  		<td class="red">实物订单</td>
			  		{{else}}
			  		<td class="red">虚拟订单</td>
			  		{{/if}}
			  		<td class="red">{{= goodsName || ''}}</td>
			  		<td class="red">{{= userName || ''}}</td>
			  		<td class="red">{{= tradeAmount || ''}}</td>
			  		<td class="red">{{= couponAmount || ''}}</td>
			  		<td class="red">{{= userPostage || ''}}</td>
			  		<td class="red">{{= amount || ''}}</td>
			  		<td class="red">{{= tradeCost || ''}}</td>
			  		<td class="red">{{= postage || ''}}</td>
			  		<td class="red">{{= diffBeforeCoupon || ''}}</td>
			  		<td class="red">{{= diffAfterCoupon || ''}}</td>
			  		<td class="red">{{= tradeTime || ''}}</td>
			  		<td class="red">{{= payTime || ''}}</td>
			  		{{if dataSource == 1}}
			  		<td class="red">正常订单</td>
			  		{{else dataSource == 2}}
			  		<td class="red">客服关闭订单</td>
			  		{{else dataSource == 3}}
			  		<td class="red">拒收订单</td>
			  		{{else}}
			  		<td class="red">退货订单</td>
			  		{{/if}}
		  		</tr>
		  		{{/if}}
	    </script>
	</body>
</html>
